{{- $baseURL := $.Site.BaseURL -}}
<div id="nav-sidebar" class="widget">
	<h4>用户</h4>
	<ul>
		{{ range .Site.Menus.sidebar_user}}
		{{- $url := absLangURL .URL -}}
		<li><a href="{{ .URL }}" title="{{ .Title  }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank"{{ end }}>{{ .Name }}</a></li>
		{{ end }}
		{{- with $.GetPage "about" -}}
		<li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Name }}</a></li>
		{{- end -}}
	</ul>
</div>
<div id="nav-sidebar" class="widget">
	<h4>开发者</h4>
	<ul>
		{{ range .Site.Menus.sidebar_develop}}
		{{- $url := absLangURL .URL -}}
		<li><a href="{{ .URL }}" title="{{ .Title  }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank"{{ end }}>{{ .Name }}</a></li>
		{{ end }}
	</ul>
</div>
<div id="nav-sidebar" class="widget">
	<h4>更多资源</h4>
	<ul>
		{{ range .Site.Menus.sidebar_resource}}
		{{- $url := absLangURL .URL -}}
		<li><a href="{{ .URL }}" title="{{ .Title  }}"{{ if not (hasPrefix $url $baseURL) }} target="_blank"{{ end }}>{{ .Name }}</a></li>
		{{ end }}
	</ul>
</div>
