<meta itemprop="dateCreated" content="{{ .Page.Date.Format "2006年01月02日" }}"/>
<meta itemprop="datePublished" content="{{ .Page.Date.Format "2006年01月02日" }}"/>
<meta itemprop="dateModified" content="{{ .Page.Date.Format "2006年01月02日" }}"/>
<meta itemprop="inLanguage" content="{{ .Lang }}"/>
<meta itemprop="wordCount" content="{{ .WordCount }}"/>
<div class="itemprop" itemprop="author" itemscope itemtype="http://schema.org/Person">
	<meta itemprop="name" content="{{ .Params.Author }}"/>
</div>
<div class="itemprop" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
	<meta itemprop="name" content="Loong Arch Linux"/>
</div>
