{{partial "header.html" .}}
    <div id="content-left-wrapper">
        <div id="content-left">
						<div class="news-article box">
							<h2>欢迎来到 Loong Arch Linux 社区</h2>
							<p>Loong Arch Linux 是为 <a href="https://loongson.cn/system/loongarch" target="_blank">LoongArch</a> 架构移植的 ArchLinux 发行版，它遵循 Arch 的 K.I.S.S.原则，采用滚动升级模式，尽力为大多数软件提供最新的稳定版本。</p>
							<p>Loong Arch Linux 可运行在龙芯 3A5000、3C5000(L)、3D5000 等处理器的机器上。</p>
							<div id="intro">
								<p class="readmore"><a href="/pages/about/" title="关于 Loong Arch Linux">了解更多...</a></p>
							</div>
						</div>
            <div id="news">
            <h3>
                <a href="/" title="Browse the blogs">最新文章</a>
                <span class="arrow"></span>
            </h3>
            <a href="/index.xml" title="Arch News RSS Feed" class="rss-icon"><img width="16" height="16" src="/rss.png" alt="RSS Feed" /></a>
                {{ range where site.RegularPages "Type" "posts" }}
                    <h4><a href="{{.Permalink}}" title="{{.Title}}"> {{.Title}}</a></h4>
                    <p class="timestamp">{{.Date.Format "2006年01月02日"}}<p>
                    <div class="article-content">
                        {{.Content}}
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{partial "sidebar.html" .}}
{{partial "footer.html" .}}
