{{ partial "header.html" . }}
<div class="news-article-list box">
	<h2>Loong Arch Linux 归档文章</h2>
	  <table id="article-list" class="results">
        <thead>
            <tr>
                <th>日期</th>
                <th>标题</th>
                <th>作者</th>
            </tr>
        </thead>
        <tbody>
					{{ with .Data.Pages }}
							{{ range .ByDate}}
									<tr>
										<td>{{ .Page.Date.Format "2006年01月02日" }}</td>
										<td class="wrap"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ default .Title .Params.heading }}</a></td>
										<td>{{ .Params.Author }}</td>
									</tr>
							{{ end }}
					{{ end }}
				</tbody>
		</table>
</div>
{{ partial "footer.html" . }}

